
.splitter {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
 
  .left-panel {
    padding: 20px;
    background-color: #f0f0f0;
    box-sizing: border-box;
  }
  
  .left-panel label {
    margin: 20px;
  }
  .left-panel select {
    margin-left: 20px;
  }
  .left-panel button {
    margin: 40px;
  }

  
  .right-panel {
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
  }
  .left-panel, .right-panel {
    border-right: 1px solid #ccc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .quiz-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }
  
.answer-feedback p {
    margin: 4px 0;
  }
  
.question-feedback {
margin-top: 1rem;
padding: 0.75rem;
border-left: 4px solid #0077cc;
background-color: #f0f8ff;
font-size: 0.95rem;
}

.load-button {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
