.view-result-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  overflow-x: hidden; /* Prevents horizontal overflow */
}

.selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.selection-container label {
  font-weight: bold;
}

.button-container {
  margin-bottom: 20px;
}

.button-container button {
  margin-right: 10px;
  padding: 10px;
  cursor: pointer;
}

.individual-performance, .overall-performance {
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.question-navigation {
  margin-top: 10px;
}

.question-navigation button {
  margin-right: 5px;
  padding: 5px;
}

.navigation-buttons {
  margin-top: 10px;
}

.navigation-buttons button {
  padding: 10px;
  cursor: pointer;
}

.mark-chart ul {
  list-style: none;
  padding: 0;
}

.mark-chart li {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .view-result-container {
      padding: 15px;
  }
  .tab-menu {
      flex-direction: column;
  }
  .selection-container {
      flex-direction: column;
  }
  .button-container button {
      width: 100%;
      margin-right: 0;
  }
  .individual-performance, .overall-performance {
      width: 100%;
      box-sizing: border-box;
  }
  .navigation-buttons button {
      width: 100%;
  }
}


.stats-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: 20px;
  margin-bottom: 2rem;
}

.stats-table th,
.stats-table td {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: center;
}

.stats-table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

.stats-table th:nth-child(1),
.stats-table td:nth-child(1) {
  width: 50%; 
  text-align: left;
}

.stats-table th:nth-child(2),
.stats-table th:nth-child(3),
.stats-table th:nth-child(4),
.stats-table td:nth-child(2),
.stats-table td:nth-child(3),
.stats-table td:nth-child(4) {
  width: 16.6%;
}


.tab-button {
  padding: 0.5rem 1.5rem;
  margin-right: 0.5rem;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


.view-back-button {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
